
p{
text-align:justify;
}

ul{
text-align:justify;
}

table{
border-collapse:collapse;
}

td{
border:1px solid #010101;
}

th{
text-align:left;
border:1px solid #010101;
}

.itemm{
display:none;
}

.illustr{
float:right;
font-size:10px;
text-align:center;
margin:8px;
border:1px solid #010101;
}

#logo{
display:none;
}

#bandeau{
text-align:center;
}

#listeliens{
display:none;
}

.retour{
display:none;
}
